{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <a href="{% url 'projects' %}" class="btn">Back</a>
    <div class="homepage_wrapper">
        <h1>Extended Project Qualification</h1>
        <h4 class = "date">2019</h4>
        <h4>Encryption: Should we put our privacy before our safety?</h4>
        <p>As part of my A-Level studies between 2017 and 2019, I completed the extended project qualification, which is equivalent to an AS level.</p>
        <p>At the time, the 2017 Westminster Bridge terror attack was a big news story and so was the subject of end-to-end encyption. The attacker had used WhatsApp to send messages using this encryption methodology which investigators at the time believed were crucial to their investigation. Upon conducting further research, I found that this was not an isolated incident and there were many other similar cases around the world.</p>
        <p>The government were unable to access these messages as WhatsApp prides itself on being totally private and secure- nobody, not even them, can access your messages.</p>
        <p>I therefore felt that it was a very appropriate discussion to research, as there was a very fine line between privacy and security. These themes are explored within my dissertation (see below).</p>
        <div class = "cv_wrapper">
            <iframe class="responsive_iframe" src="{%static 'documents/Clutterbuck, Matthew_EPQ.pdf'%}" type="application/pdf"></iframe>
        </div>
    
    </div>
{% endblock %}
