{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <a href="{% url 'projects' %}" class="btn">Back</a>
    <div class="homepage_wrapper">
        <h1>Personal Website Portfolio</h1>
        <h4 class = "date">2020</h4>
        <p>Due to the coronavirus pandemic in 2020, my first year at university came to an abrupt end. This therefore meant that the year finished early in March and would therefore resume (hopefully!) in September 2020. The univeristy therefore set us a piece of coursework which we should complete in the extended break. The task was to 'build a blog'. This was the basis of the task and from this we could effectively build whatever we liked!</p>
        <p>For a long time, I had been meaning to build a personal website, like this one, which acts as a personal portfolio and covers a greater amount of information than my CV. Therefore, when this task was set, it felt like the perfect opportunity to complete this project.</p>
        <p>I already had some experience in designing websites, mainly from my A-Level coursework, but this was mostly static websites using HTML, CSS and a small amount of JavaScript. This project was therefore a good opportunity for me to learn to use the Django web framework and also to build a responsive website which will look good across different sized devices.</p>
        <p>I will continue to routinely update this site and hopefully soon host the site using my own domain name. Below are some pictures of the initial version of the site.</p>
        <img class="portfolio_img" alt="Matt Profile Image" src="{% static 'images/homepage.png' %}">
        <img class="portfolio_img" alt="Matt Profile Image" src="{% static 'images/about.png' %}">
        <img class="portfolio_img" alt="Matt Profile Image" src="{% static 'images/blog.png' %}">
    </div>
{% endblock %}
