{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class= "about_wrapper">
        <h1>Education</h1>
        <div class = "timeline">
            <div class = "milestones">
                <h3>Technology Degree Apprenticeship with PwC @ University of Birmingham</h3>
                <h4 class = "date">2019 - 2023</h4>
                <p>Currently a first year student studing BSc Computer Science at the University of Birmingham which also forms an apprenticeship with PwC. During term time, I study and live as a normal university student. During the summer breaks of years 1 & 2 I will complete a 10-week placement with the firm within one of their technology teams. I will also complete a year in industry with PwC during my third year of university</p>
                <p>However, due to the coronavirus pandemic, my first placement scheduled for June-August 2020 has now been cancelled. Therefore, I am currently looking for computing related projects to further develop my skills</p>
            </div>
            <div class = "milestones">
                <h3>Salesian Sixth Form</h3>
                <h4 class = "date">2017 - 2019</h4>
                <p><b>A-Level results August 2019:</b></p>
                <p>Mathematics (A*), Computer Science (A*), Physics (A), Extended Project Qualification (A*)</p>
                <p>Click <a href="{%static 'documents/Clutterbuck, Matthew_EPQ.pdf'%}">here</a> to read my Extended Project Qualification, titled 'Encryption: Should we put our privacy before our safety?'</p>
            </div>
            <div class = "milestones">
                <h3>Salesian Secondary School</h3>
                <h4 class = "date">2012 - 2017</h4>
                <p><b>GCSE results August 2017:</b></p>
                <p>Mathematics (Grade 9), English Language (Grade 8), English Literature (Grade 7), Chemistry (A*), Physics (A*), Computer Science (A*), Business Studies (A*), History (A*), Biology (A), Religious Studies (A*)</p>

            </div>
        </div>
        <div class = "skills_wrapper">
            <h3>Programming Skills</h3>
            <div class = "skill">
                <img alt="Java" src="{% static 'images/java.png' %}" width="50%" height="auto">
            </div>
            <div class = "skill">
                <img alt="HTML & CSS" src="{% static 'images/htmlcss.png' %}" width="50%" height="auto">
            </div>
            <div class = "skill">
                <img alt="Python" src="{% static 'images/python.svg' %}" width="70%" height="auto">
            </div>
            <div class = "skill">
                <img alt="Django" src="{% static 'images/django.png' %}" width="50%" height="auto">
            </div>
        </div>
    </div>
{% endblock %}
